body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
}

header .now {
    font-weight: bold;
    color: #E32636;  /* Henkel Red color */
}

.content {
    padding: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

.card-content {
    flex-grow: 1;
}

.card-title {
    font-weight: bold;
    color: black;
}

.card-description {
    margin: 5px 0;
    color: #777;
}

/* Default styles for mobile */
.card .listen-btn {
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
}

.listen-btn {
    background-color: #e8433e;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
	margin-top: 15px; 
	width: 100%; 
}

#randomButton {
    display: block;  /* This will make the button a block element */
    margin: 20px auto;  /* This will center the button horizontally */
    background-color: #e8433e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#randomButton:hover {
    background-color: #d7322e; /* slightly darker shade for hover effect */
}

@media (min-width: 768px) {
    .card {
        flex-direction: row;
        align-items: flex-start;
    }
    .card img {
        margin-bottom: 0;
    }
	.card .listen-btn {
        margin-top: 5px;  /* or whatever the default margin you want for desktop */
        width: auto;
        display: inline-block;
    }
}

#darkModeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background-color: #1e1e1e;
    border-color: #333;
}

.dark-mode .card {
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark-mode .card-title {
    color: #ffffff;
}

.dark-mode .card-description {
    color: #aaaaaa;
}

.dark-mode .listen-btn {
    background-color: #ffffff;
    color: #1e1e1e;
}

.dark-mode header h1 {
    color: #ffffff;  /* This sets the "relax" text color */
}

.dark-mode header .now {
    color: #E32636;  /* This keeps the "NOW" text color as Henkel Red */
}

.dark-mode #randomButton {
    background-color: #ffffff;  /* White background in dark mode */
    color: #1e1e1e;  /* Dark text in dark mode */
}

/* CSS */
.sun-icon {
    color: yellow;
}

.moon-icon {
    color: black;
}
